<h1>Welcome to Triangle Checker!</h1>

<form action="/output">
  <div class="form-group">
    <label for="sides_of_triangle">Put in side 1 of the triangle</label>
    <input id="side1" name="input_1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sides_of_triangle">Put in side 2 of the triangle</label>
    <input id="side2" name="input_2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sides_of_triangle">Put in side 3 of the triangle</label>
    <input id="side3" name="input_3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
